img.logo {
  width: 5rem;
}
button.ingreso {
  font-size: 18px;
  background-color: #020c1a00;
  box-shadow: #020c1a;
  color: #ffffff;
}

.dark-theme {
  background-color: #020c1a;
  color: white;
}
