.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana del navegador */
}

.register {
  width: 383px;
  height: 334px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register img {
  width: 1.5cm;
  height: 1.5cm;
}

.register-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%; /* Ajusta el ancho para incluir la separación */
}

.register button {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 7px; /* Añade un border-radius de 15 */
  flex: 1; /* Ocupa todo el espacio disponible */
}

.register button + button {
  margin-left: 1cm; /* Añade una separación de 1.5 cm entre los botones */
}

.register button:hover {
  background-color: darkgray;
}

/* Hacer el formulario responsivo */
@media (max-width: 800px) {
  .register {
    width: 100%;
  }
}
